{% extends 'base.html' %}
{% block title %}Department Detail{% endblock %}

{% block content %}
<div class="card shadow-sm mb-3">
    <div class="card-header bg-primary text-white">
        <h4>{{ department.name }}</h4>
    </div>

    <div class="card-body">
        <p><strong>Location:</strong> {{ department.location }}</p>
        <p><strong>Phone:</strong> {{ department.phone }}</p>
        <p><strong>Email:</strong> {{ department.email }}</p>

        <div class="mt-3">
            <a href="{% url 'doctors:department_edit' department.department_id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'doctors:department_delete' department.department_id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'doctors:department_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
