{% extends 'base.html' %}
{% block title %}Delete Department{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
        <h4>Delete Department</h4>
    </div>

    <div class="card-body">
        <p>
            Are you sure you want to delete department 
            <strong>{{ department.name }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'doctors:department_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
